---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

<body>
    <h2>Peer-Reviewed Articles</h2>
    </p>
    <p>
        [1] Contreras, G. 2024. "Outsourcing Machines. How programmatic parties include clientelistic strategies." 
        <em>Comparative Political Studies</em>. 
        <a href="https://doi.org/10.1177/00104140241271310">https://doi.org/10.1177/00104140241271310</a>.
    </p>
    <p>
        [2] Contreras, G. and M. Morales. 2024. "Masking turnout inequality. Invalid voting and class bias when compulsory voting is reinstated." 
        <em>Electoral Studies</em>, Volume 92 (2024), 102878. <a href="https://doi.org/10.1016/j.electstud.2024.102878">https://doi.org/10.1016/j.electstud.2024.102878</a>.
    </p>
    <p>
        [3] Belmar, F., G. Contreras, M. Morales, C. Troncoso. 2024. "Demanding Non-Programmatic Distribution: Evidence From Local Governments in Chile." 
        <em>Policy Studies</em>, 45(1), 65–88. <a href="https://doi.org/10.1080/01442872.2023.2172718">https://doi.org/10.1080/01442872.2023.2172718</a>. 
    </p>
    <p>
        [4] Contreras, G., and Morales, M. 2018. "Ethnic solidarity and the vote: Mapuche candidates and voters in Chile." 
        <em>Journal of Ethnic and Migration Studies</em>, 44(11), 1954–1975. <a href="https://doi.org/10.1080/1369183X.2017.1371582">https://doi.org/10.1080/1369183X.2017.1371582</a>. 
    </p>
    <p>
        [5] Contreras, G., Joignant, A. and Morales, M. 2015. "The return of censitary suffrage? The effects of automatic voter registration and voluntary voting in Chile." 
        <em>Democratization</em>, vol. 22(1): pp. 1-25. <a href="https://doi.org/10.1080/13510347.2014.986720">https://doi.org/10.1080/13510347.2014.986720</a>.
    </p>
    <p>
        [6] Cantillana C., Contreras, G., Morales, M., Oliva, D. and Perelló, L. 2017. "Malestar con la representación democrática en América Latina." 
        <em>Política y Gobierno</em>, vol. 24(2): 245-274.
    </p>
    <p>
        [7] Cantillana, C., Contreras, G., and Morales, M. 2015. "Elecciones primarias y personalización de la política. El caso de las elecciones locales en Chile 2012." 
        <em>Revista de Ciencia Política</em>, vol. 35(2), pp: 273-298. <a href="https://doi.org/10.4067/S0718-090X2015000200002">https://doi.org/10.4067/S0718-090X2015000200002</a>.
    </p>
    <p>
        [8] Contreras, G., and Navia, P. 2013. "Diferencias generacionales en la participación electoral en Chile: 1988-2010." 
        <em>Revista de Ciencia Política</em>, vol. 33(2): pp. 419-441.
    </p>
    <p>
        [9] Contreras, G. and Morales, M. 2017. ”Why was the voluntary vote approved in Chile? 
        Reasons and arguments that drove the reform.” <em>Revista Chilena de Derecho y Ciencia Política</em>, vol 8(2), pp: 1-37.
    </p>
    <p>
        [10] Contreras, G., and Morales, M. 2014. ”Jóvenes y participación electoral en Chile 1989-2013.
        Analizando el efecto del voto voluntario”. <em>Revista Latinoamericana de Ciencias Sociales, Niñez y Juventud</em>, 12(2): pp. 597-615.
    </p>
    <p>
        [11] Contreras, G. and Varas, A. 2015. ”Inconsistencia de estatus y conducta electoral en Chile”. 
        <em>Revista de Ciencias Sociales</em>, 34: pp. 22-46.
            
    
</body>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find other articles and book chapters on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



