---
layout: archive
title: ""
permalink: /publications/
author_profile: true
---

<h2>Peer-Reviewed Articles</h2>

<p>
    Contreras, G. "Outsourcing Machines. How programmatic parties include clientelistic strategies."
    <em>Comparative Political Studies</em>.
    <a href="https://doi.org/10.1177/00104140241271310">https://doi.org/10.1177/00104140241271310</a>. <span class="pub-year">2025</span>
</p>
<p class="pub-award">Awarded Best Article in the <em>Latin American Political Institutions Section (LAPIS)</em>, LASA 2025.</p>
<p class="pub-award">Awarded Best Article in the <em>Subnational Politics &amp; Society</em> section, LASA 2025.</p>

<p>
    Contreras, G. and M. Morales. "The Return to Compulsory Voting: Invalid Voting and its Representational Challenges in Chile's Subnational Elections."
    <em>Political Studies</em>.
    <a href="https://doi.org/10.1177/00323217261460721">https://doi.org/10.1177/00323217261460721</a>. <span class="pub-year">2026</span>
</p>
<p>
    Contreras, G. "Clientelism Without Machines. The Use of Community-Based Groups as Organisational Substitutes."
    <em>Latin American Politics and Society</em>.
    <a href="https://doi.org/10.1017/lap.2026.10066">https://doi.org/10.1017/lap.2026.10066</a>. <span class="pub-year">2026</span>
</p>
<p>
    Contreras, G. and M. Morales. "Masking turnout inequality. Invalid voting and class bias when compulsory voting is reinstated."
    <em>Electoral Studies</em>, Volume 92, 102878. <a href="https://doi.org/10.1016/j.electstud.2024.102878">https://doi.org/10.1016/j.electstud.2024.102878</a>. <span class="pub-year">2024</span>
</p>
<p>
    Belmar, F., G. Contreras, M. Morales, C. Troncoso. "Demanding Non-Programmatic Distribution: Evidence From Local Governments in Chile."
    <em>Policy Studies</em>, 45(1), 65–88. <a href="https://doi.org/10.1080/01442872.2023.2172718">https://doi.org/10.1080/01442872.2023.2172718</a>. <span class="pub-year">2024</span>
</p>
<p>
    Contreras, G., and Morales, M. "Ethnic solidarity and the vote: Mapuche candidates and voters in Chile."
    <em>Journal of Ethnic and Migration Studies</em>, 44(11), 1954–1975. <a href="https://doi.org/10.1080/1369183X.2017.1371582">https://doi.org/10.1080/1369183X.2017.1371582</a>. <span class="pub-year">2018</span>
</p>
<p>
    Contreras, G., Joignant, A. and Morales, M. "The return of censitary suffrage? The effects of automatic voter registration and voluntary voting in Chile."
    <em>Democratization</em>, vol. 22(1): pp. 1-25. <a href="https://doi.org/10.1080/13510347.2014.986720">https://doi.org/10.1080/13510347.2014.986720</a>. <span class="pub-year">2015</span>
</p>
<p>
    Cantillana C., Contreras, G., Morales, M., Oliva, D. and Perelló, L. "Malestar con la representación democrática en América Latina."
    <em>Política y Gobierno</em>, vol. 24(2): 245-274. <a href="https://www.scielo.org.mx/scielo.php?script=sci_arttext&pid=S1665-20372017000200245">https://www.scielo.org.mx/scielo.php?script=sci_arttext&pid=S1665-20372017000200245</a>. <span class="pub-year">2017</span>
</p>
<p>
    Cantillana, C., Contreras, G., and Morales, M. "Elecciones primarias y personalización de la política. El caso de las elecciones locales en Chile 2012."
    <em>Revista de Ciencia Política</em>, vol. 35(2), pp: 273-298. <a href="https://doi.org/10.4067/S0718-090X2015000200002">https://doi.org/10.4067/S0718-090X2015000200002</a>. <span class="pub-year">2015</span>
</p>
<p>
    Contreras, G., and Navia, P. "Diferencias generacionales en la participación electoral en Chile: 1988-2010."
    <em>Revista de Ciencia Política</em>, vol. 33(2): pp. 419-441. <a href="https://doi.org/10.4067/S0718-090X2013000200001">https://doi.org/10.4067/S0718-090X2013000200001</a>. <span class="pub-year">2013</span>
</p>
<p>
    Contreras, G. and Morales, M. "Why was the voluntary vote approved in Chile?
    Reasons and arguments that drove the reform." <em>Revista Chilena de Derecho y Ciencia Política</em>, vol 8(2), pp: 1-37. <span class="pub-year">2017</span>
</p>
<p>
    Contreras, G., and Morales, M. "Jóvenes y participación electoral en Chile 1989-2013.
    Analizando el efecto del voto voluntario." <em>Revista Latinoamericana de Ciencias Sociales, Niñez y Juventud</em>, 12(2): pp. 597-615. <span class="pub-year">2014</span>
</p>
<p>
    Contreras, G. and Varas, A. "Inconsistencia de estatus y conducta electoral en Chile."
    <em>Revista de Ciencias Sociales</em>, 34: pp. 22-46. <span class="pub-year">2015</span>
</p>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find other articles and book chapters on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
